* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.global-header {
    margin: 30px 0;
    text-align: center;
}

.container {
    max-width: 920px;
    margin: 0 auto;
}